h1,
h2,
p {
    font-family: Arial, sans-serif;
}

p {
    font-size: 22px;
}

h1 {
    font-family: "Lucida Handwriting", cursive;
    font-size: 40px;
    color: rgb(16, 64, 139);
}

#homepage-title {
    color: hsl(14, 93%, 53%);
    font-size: 60px;
}

h2 {
    color: rgb(0, 150, 222);
    font-size: 25px;
    font-weight: 400;
}

.ingredients,
.steps {
    font-size: 18px;
    background-color: rgb(209, 231, 251);
    text-align: justify;
}

a {
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

img {
    height: auto;
    width: 400px;
}
